* { 
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #BDBBBC;
	font-size: 25px;
}

li {
	display: inline-block;
	padding: 10px;
	letter-spacing: 3px;
}

ul {
	text-align: center;
	background-color: #404149;
	margin-top: 35px;
	word-spacing: 20px;
}
a:hover, a:active {
	color: #4DA896;
}