* { 
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #BDBBBC;
	font-size: 25px;
}

li {
	display: inline-block;
	padding: 10px;
	margin-top: 35px;
}

ul {
	text-align: center;
	background-color: #404149;
}